.myPosts {
    /*margin-left: 100px;*/
    /*margin-top: 10px;*/
    border: 1px solid #e2e9e6;
}

.createPost {
    display: flex;
    flex-direction: column;
    /*margin-left: 30px;*/
    background-color: whitesmoke;
    width: 400px;
}

.headOfNewPost {
    background-color: #088dcd;
    height: 30px;
    width: 100%;
}

.newPost {
    background-color: #ffffff;
    height: 50px;
    width: 99%;
}

.sendButton {
    align-self: flex-end;
    background-color: #088dcd;
    color: #ffffff;
    border: none;
    font-size: 13px;
    font-weight: 500;
    padding: 4px 20px;
    border-radius: 4px;
}

.sendButton:hover {
    cursor: pointer;
    background-color: #086393;
}