.paginator {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginator button {
    background-color: #088dcd;
    color: #ffffff;
    border: none;
    font-size: 13px;
    font-weight: 500;
    padding: 4px 20px;
    border-radius: 4px;
    outline: none;
}

.paginator button:hover {
    cursor: pointer;
    background-color: #086393;
}

.paginator button:disabled {
    opacity: 0.5;
}

.selectedPage {
    font-weight: bold;
    background-color: #088dcd;
}

.selectedPage:hover {
    cursor: default;
}

.page, .selectedPage {
    border: 1px solid #e2e9e6;
    padding: 3px;
}

.page:hover {
    text-decoration: underline;
    cursor: pointer;
}

.paginator button {
    margin-left: 5px;
    margin-right: 5px;
    height: 25px;
}