.header {
    grid-area: h;
    /*background-color: #26a69a;*/
    background-color: cornflowerblue;
}

.logo {
    height: 50px;
    width: 50px;
}

.login {
    float: right;
    font-size: 20px;
}

.login a {
    color: blanchedalmond;
}