.nav {
    grid-area: n;
    background-color: #212121;
    font-size: 18px;
    /*margin-top: 5px;*/
    width: 200px;
    height: 100vh;
}

.item {
    margin-top: 10px;
    text-align: left;
    margin-left: 60px;
}

.item a {
    color: #757575;
    text-decoration: none;
}

.item .active {
    color: #ffffff;
}

.item a:hover {
    color: #ffffff;
}