.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 100px;
    background-color: #ffffff;
    width: 300px;
}

.login div {
  padding: 3px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form button {
    background-color: #088dcd;
    color: #ffffff;
    border: none;
    font-size: 13px;
    font-weight: 500;
    padding: 4px 20px;
    border-radius: 4px;
}

.form button:hover {
    cursor: pointer;
    background-color: #086393;
}

.form button:disabled {
    opacity: 0.5;
}

.form input {
    height: 20px;
}

.rememberMe {
    display: flex;
    justify-content: center;
    align-items: center;
}

.captcha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}